<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="24.0.0" targetFramework="net461" />
  <package id="Microsoft.Azure.DocumentDB" version="2.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.0" targetFramework="net461" />
  <package id="System.Net.Http.WinHttpHandler" version="4.5.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
</packages>